

.image-slider{
    width: 100%;
    height: 300px;

    /* border: 1px solid green; */
    background-color: #CEDEBD;
    /* border-radius: 0% 0% 25% 25%; */


   
}
.image-slider-container{
    width: 90%;
    height: 220px;
    margin: auto;
    display: flex;
}
.text{
    width: 50%;
    height: 200px;
    padding-top: 50px;
    padding-left: 80px;
    margin-top: 20px;
    /* border: 1px solid; */
}
.text h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text h1{
    font-size: 50px;
    font-weight: 700;
}
.image{
    width: 50%;
    height: 200px;
    /* border: 1px solid; */
    margin-top: 50px;
    display: block;
    text-align: center;
}
.image img{
    width: 65%;
    height: 200px;
    padding-left: 33px;
    
}
.s1{
    color: #FF6B00;
    font-weight: 700;
}

