

.dropdown-menu {
    width: 15%;
    /* height: 400px; */
    position: absolute;
    top: 60px;
    right: 70px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: -1px -4px 13px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -4px 13px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -4px 13px -3px rgba(0, 0, 0, 0.75);
}

.dropdown-menu ul{
    display: block;
}
.dropdown-menu ul li{
    border-radius: 5px;
    list-style: none;
    font-size: 14pt;
    color: black;
    padding: 20px 5px;
    cursor: pointer;
    color: #FF6B00;
}
.dropdown-menu ul li:hover{
    background-color: #FF6B00;
    color: #ffffff;
}
.dropdown-menu ul li .icon{
    
    padding-right: 5px;
}
