.item-category{
<<<<<<< HEAD
    width: 90%;
=======
    width: 80%;
>>>>>>> 4fb9c843454258bb2f5131905a3cb1ca493a4790
    height: 200px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 20px;
}
<<<<<<< HEAD
.items-cat{
    width: 100%;
    height: 160px;
    /* border: 1px solid blue; */
=======
.item-category h1{
    text-align: center;
}
.items-cat{
    width: 100%;
    height: 160px;
    /* border: 1px solid blue;   */
>>>>>>> 4fb9c843454258bb2f5131905a3cb1ca493a4790
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.items-cat p{
    text-align: center;
    font-weight: 600;
}
.item-cat-card{
    width: 130px;
    height: 150px;
    /* border: 1px solid red; */
    padding: 10px;
}
.items-cat-type{
    width: 100px;
    height: 100px;
    border-radius: 50%;

    /* border: 1px solid; */
    margin: auto;

}
.items-cat-type img{
    width: 100%;
}